.prod {
    width: 200px;
    border: 2px solid #888;
    margin: 30px;
    padding: 20px;
    border-radius: 3%;
    height: 200px;
}




.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}